<div class="alert-cont">
    <div class="alert-box">
        <% const alerts = locals.alert?.alerts %>
        <% if (alerts.length) { %>
            <div class="alert">
                <button class="alert-close" onclick="Alert.closeAlert()"><i class="fa-solid fa-xmark"></i></button>
                <div class="alert-text-box">
                    <% for( let i=0; i < alerts.length; i++ ) { %>
                        <div class="alert-text">
                            <h5 class="txt-anim"><%= alerts[i]?.head || '' %></h5>
                            <br>
                            <h6 class="txt-anim"><%- alerts[i]?.msg || '' %></h6>

                            <div class="alert-action">
                                <% for( let j = 0; j < alerts[i].action.length; j++ ) { %>
                                    <%- alerts[i]?.action[j] || '' %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="alert-img-box">
                    <div class="alert-img">
                        <img src="/images/avatars/<%= locals.alert?.image || 'default.png' %>" alt="alert" draggable="false">
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>