<div class="navbar">
    <nav>
        <ul>
            <li>
                <button><i class="fa-solid fa-search"></i></button>
            </li>
            <li>
                <button><i class="fa-solid fa-bars"></i></button>
            </li>
        </ul>
    </nav>
    <button class="menu-close"><i class="fa-solid fa-xmark"></i></button>
    <div class="navbar-menu">
        <div class="navbar-menu-text">
            <h5><a href="/" class="txt-anim">home</a></h5>
            <h5><a href="/" class="txt-anim">login / signup</a></h5>
            <h5><a href="/" class="txt-anim">contact us</a></h5>
        </div>
    </div>
</div>