<div class="navbar">
    <nav>
        <ul>
            <li>
                <button class="menu-open"><i class="fa-solid fa-bars"></i></button>
            </li>
            <li>
                <button><i class="fa-solid fa-shopping-cart"></i></button>
                <a href="/product"><i class="fa-solid fa-user"></i></a>
            </li>
        </ul>
    </nav>
    <button class="menu-close"><i class="fa-solid fa-xmark"></i></button>
    <div class="navbar-menu">
        <div class="navbar-menu-text">
            <h5><a data-nav href="/" class="txt-anim">home</a></h5>
            <h5>
                <a data-nav href="/login" class="txt-anim">login /</a>
                <a data-nav href="/signup" class="txt-anim"> signup</a>
            </h5>
            <h5><a data-nav href="/all" class="txt-anim">product listings</a></h5>
        </div>
    </div>
</div>