/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');

@font-face {
    font-family: 'ver';
    src: url(/font/Vercetti-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Setting root variables */
:root {
    --bg-gradient: linear-gradient(180deg, #BFBEC6 0%, #CCCBD1 13.54%, #D6D5DB 24.48%, #D4D3D9 52.6%, #D2D0D7 64.58%, #CECBD2 86.46%);
    --new-span-height: 35px;
    --big-gap: 10vw;
    --small-gap: 20px;
    --hero-height: 100vh;
    --hor-box-height: 300px;
    --ver-box-height: 400px;
    --box-height: 360px;
    --page-y-padding: 140px;
    --page-padding: 80px;
    --color-light: #ffffff;
    --color-dark: #000000;
    --text-gray: #5c5c5c;
    --text-bright: #bebebe;
    --nav-color: #f0f0f0;
    --red: #BE1614;
    --product-text-spacing: 40px;
    --cart-padding: 30px;
}

/*
    Z-INDEX RANKINGS: 
    ----------------------------
    .menu-close(500)
    .navbar-menu(400)
    .loading-container(300)
    .navbar(200)
    .alert-cont(100)
    .preload: -1
    ----------------------------
*/

/*Set scroll bars*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
    background-clip: content-box;
}

/* Themes */
.light {
    color: var(--color-light);
}

.off {
    color: var(--text-gray);
}

.transparent {
    color: transparent !important;
}

span[data-invisible] {
    opacity: 0;
    visibility: hidden;
}

.red {
    color: var(--red);
}

/* Page styles */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: var(--color-light);
}

.preload {
    position: fixed;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    display: none;
    z-index: -1;
}

.page {
    position: relative;
    background-color: var(--color-light);
    padding: 0 var(--page-padding);
}

.page-y {
    padding-top: var(--page-y-padding);
    padding-bottom: var(--page-y-padding);
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 300;
    pointer-events: none;
    background: transparent;
}

.loading-screen {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

/*Alert box*/
.alert-cont {
    padding: 0 20px 20px 0;
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: calc(100% - 20px);
    z-index: 100;
}

.alert {
    position: relative;
    padding: 20px;
    display: flex;
    gap: 20px;
    box-shadow: rgba(161, 161, 161, 0.2) 0px 4px 24px;
    background-color: var(--color-light);
    color: var(--color-dark);
    transform: translateY(120%);
    opacity: 0;
}

.alert-close {
    padding: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    transform: translate(35%, -35%);
    border: 2px solid var(--color-light);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
}

.alert-text-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.alert-text {
    max-width: 20em;
}

.alert-text h5 {
    font-size: 2em;
}

.alert-text h6 {
    font-size: .7em;
    font-weight: 500;
}

.alert-text a {
    font-size: 1em;
    color: var(--red);
    text-transform: capitalize;
}

.alert-action a,
.alert-action button {
    display: inline-block;
    margin: 15px 0;
    padding: 13px 35px;
    background-color: var(--color-dark);
    color: var(--color-light);
    border: none;
    font-size: .7em;
    font-weight: 300;
    line-height: 1;
    font-family: 'poppins', sans-serif;
    text-transform: capitalize;
}

.alert-action a {
    font-size: .8em;
}

.alert-img-box {
    display: flex;
    align-items: end;
    user-select: none;
    -webkit-user-select: none;
}

.alert-img {
    padding-left: 20px;
    height: 200px;
    background-color: var(--color-dark);
}

.alert-img img {
    position: relative;
    transform: translateY(-50px);
    height: 250px;
}

/* Nabvar */
.navbar nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    padding: 20px;
}

.navbar nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-close,
.navbar ul li a,
.navbar ul li button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.navbar ul li a {
    margin-left: 15px;
}

.menu-close {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 500;
    transform: scale(0);
}

.cart,
.navbar-menu {
    padding: 0 10vw;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 400;    
    background-color: var(--nav-color);
    height: 80vh;
    opacity: 0;
    display: none;
}

.navbar-menu-text {
    position: absolute;
    width: calc(100% - 20vw);
    top: 50%;
    transform: translateY(-50%);
}

.cart-scroller {
    position: relative;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.cart-scroller::-webkit-scrollbar {
    width: 5px;
}

.cart-scroller::-webkit-scrollbar-track {
    background-color: #fbfbfb;
}

.cart-box {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--cart-padding);
    border-bottom: 2px solid #fbfbfb;
    background-color: var(--nav-color);
    z-index: 2;
}

.cart-head h5 {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 500;
    color: black;
    line-height: 1;
}

.cart-head span {
    font-size: 0.8em;
    font-weight: 500;
}

.cart-head:nth-child(2) span,
.cart-head:nth-child(1) h5 {
    font-family: 'Poppins', sans-serif;
    margin-right: 20px;
}

.cart-item {
    --cart-length: calc(var(--ver-box-height)/2.5);
    --cart-gap: calc(var(--cart-padding) - 5px);
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    margin-top: var(--cart-gap);
}

.cart-item-box {
    display: flex;
    justify-content: space-between;
    width: calc(100% - var(--cart-length));
    height: calc(var(--cart-length) + var(--cart-gap));
    padding-top: var(--cart-gap);
    padding-bottom: calc(var(--cart-gap) * 1.5);
    border-bottom: 2px solid #fbfbfb;
}

.cart-img {
    width: var(--cart-length);
    height: var(--cart-length);
}

.cart-text {
    max-width: 50%;
}

.cart-text h5 {
    font-weight: 500;
    font-size: 1.1em;
    line-height: 1.7;
    text-transform: capitalize;
    color: var(--color-dark);
}

.cart-text h6 {
    text-transform: capitalize;
    color: var(--text-gray);
    font-weight: 500;
}

.cart-text p {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 0.65em;
    color: var(--color-dark);
}

.cart-text,
.cart-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cart-info h5 {
    font-weight: 500;
    font-size: 1em;
}

.cart-action {
    display: flex;
    justify-content: flex-end;
}

.cart-info button {
    padding: 0;
    background-color: transparent;
    color: black;
    font-size: 20px;
}

.navbar-menu-text h5 {
    margin: 7vh 0;
    text-transform: capitalize;
}

.navbar-menu-text a {
    font-family: 'ver', sans-serif;
    font-size: clamp(2.5em, 8vw, 100px);
    color: black;
    font-weight: 500;
}

.navbar-menu-text a:hover {
    color: var(--red);
}

/*Loader*/
.bars {
    width: 100%;
    height: 100%;
    background-color: var(--red);
}

.custom-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 40px;
    --c: linear-gradient(var(--color-dark) calc(50% - 10px), #0000 0 calc(50% + 10px), var(--color-dark) 0);
    background:
        var(--c) 0% 100%,
        var(--c) 50% 100%,
        var(--c) 100% 100%;
    background-size: 9px calc(200% + 20px);
    background-repeat: no-repeat;
    animation: b4 1s infinite linear;
    z-index: 2;
}

@keyframes b4 {
    33% {
        background-position: 0% 50%, 50% 100%, 100% 100%
    }

    50% {
        background-position: 0% 0%, 50% 50%, 100% 100%
    }

    66% {
        background-position: 0% 0%, 50% 0%, 100% 50%
    }

    100% {
        background-position: 0% 0%, 50% 0%, 100% 0%
    }
}

/* Element styles */
h1 {
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    font-size: clamp(2em, 10vw, 130px);
    color: var(--red);
}

h2 {
    font-weight: 400;
    font-size: clamp(2em, 5vw, 60px);
    line-height: clamp(60px, 8vw, 90px);
}

h3 {
    margin-bottom: 10px;
    font-size: 1em;
    color: var(--color-dark);
}

p {
    font-size: 0.9em;
    color: var(--text-gray);
}

a {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-bright);
    cursor: pointer;
}

ul {
    list-style: none;
}

span {
    font-weight: 600;
}

.old {
    margin-right: 10px;
    font-size: 0.8em;
    color: rgba(216, 96, 95, 0.7);
    text-decoration: line-through;
    font-weight: 500;
}

.new {
    font-size: 0.8em;
    color: #23906B;
    font-weight: 500;
}

label {
    display: block;
    text-transform: capitalize;
}

input {
    background-color: var(--color-light);
    border: 3px solid var(--color-dark);
    padding: 13px 10px 13px 18px;
    font-size: .9em;
    color: var(--color-dark);
}

input:focus {
    outline: none;
}

button {
    padding: 16px 35px;
    background-color: var(--color-dark);
    color: var(--color-light);
    border: none;
    font-size: .9em;
    cursor: pointer;
}

.full {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.full-pg {
    width: 100%;
    height: 100vh;
}

.full-side {
    position: relative;
    width: 50%;
    height: 100vh;
}

.full-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    width: 70%;
}

.form-box h2 {
    font-weight: 600;
}

.form-box p {
    font-size: 0.8em;
}

.form-box a {
    font-size: 1.2em;
    color: var(--red);
}

.form-box form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-left: 5px;
    margin-bottom: 10px;
}

.form-group input {
    border: none;
    width: 100%;
    background-color: var(--text-bright);
    border-radius: 10px;
    font-size: 20px;
}

.form-group button {
    margin-top: 10px;
    width: 100%;
    background-color: var(--red);
    border-radius: 10px;
}

.img-here {
    background-color: var(--color-dark);
    position: relative;
    overflow: hidden;
}

.img-here img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.parallax img {
    position: absolute;
    top: -25%;
    left: calc(-5% / 2);
    height: 150%;
    width: 105%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.head h1 {
    margin-right: 50px;
    display: inline-block;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--color-dark);
    line-height: 1;
}

.head span {
    font-weight: 500;
    color: var(--text-gray);
}

.head.light h1 {
    color: var(--color-light);
}

.head.light span {
    color: var(--text-bright);
}

.options {
    font-size: 0.9em;
    display: flex;
    gap: 10px;
}

.gap {
    height: calc(var(--page-y-padding) / 1.5);
}

.row {
    display: flex;
    gap: 15px;
}

.txt-anim {
    position: relative;
    padding-right: 10px;
    display: inline-block;
    overflow: hidden;
}

.txt-anim span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}