.hero {
    padding-top: 15vh;
    width: 100%;
    height: 120vh;
    background: linear-gradient(180deg, #BFBEC6 0%, #CCCBD1 13.54%, #D6D5DB 24.48%, #D4D3D9 52.6%, #D2D0D7 64.58%, #CECBD2 86.46%);
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
}

.hero-img img {
    height: 100%;
}

.hero-text {
    position: relative;
    width: 100%;
    /* height: 547px; */
    z-index: 2;
}

.hero-gap {
    width: 100%;
    height: 15vh;
}

.hero-name {
    text-align: end;
}

.newest {
    position: relative;
    width: 100%;
    height: calc(100vh + 20px);
    background-color: var(--color-dark);
    border-top: 4px solid var(--red);
    border-bottom: 4px solid var(--red);
}

.newest-prev,
.newest-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 2px solid var(--red);
    border-left: none;
    border-radius: 0px 100px 100px 0px;
}

.newest-prev {
    left: 0;
}

.newest-next {
    right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0) translateY(-50%);
}

.newest-nav {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 20px;
}

.newest-nav hr {
    width: 100px;
    height: 0;
    border: 2px solid var(--color-light);
}

.newest-nav-box {
    margin: 0 5px;
    height: 35px;
}

.newest-nav-box span {
    font-size: 20px;
    color: var(--color-light);
}

.newest-nav-box.active span {
    color: var(--red);
}


.sales-section {
    width: 100%;
}

.sales-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sales-box {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--page-y-padding) / 2);
    width: 100%;
}

.sales-cont {
    width: 300px;
}

.sales-img {
    width: 100%;
    height: var(--box-height);
    background-color: var(--color-dark);
}


.collections {
    background-color: var(--red);
}

.collections h6 {
    font-size: 20px;
    font-weight: 500;
}

.collections h5 {
    font-size: 18px;
    font-weight: 500;
}

.collections.light h5 {
    color: var(--text-bright);
}

.collections a {
    text-decoration: underline;
}

.collections-section {
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    width: 100%;
}

.collections-section.hor {
    height: var(--hor-box-height);
}

.collections-section.ver {
    height: var(--ver-box-height);
}

.collections-text {
    width: 20em;
}

.collections-section.hor .collections-img {
    width: 400px;
    height: 100%;
}

.collections-section.ver .collections-img {
    width: 330px;
    height: 100%;
}

.collections-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.collections-box h6 {
    max-width: 15em;
}


.newsletter {
    display: flex;
    justify-content: center;
}

.newsletter-text {
    max-width: 300px;
}

.newsletter-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 90%;
}

.newsletter-box h5 {
    font-size: 2em;
    font-weight: 600;
}

.newsletter-box h6 {
    font-size: .9em;
    font-weight: 400;
}

.newsletter-form input {
    margin: 15px 0;
    display: block;
}

.newsletter-form input:nth-child(2) {
    margin-bottom: 0;
}

.newsletter-form .row {
    align-items: center;
}