.hero {
    padding-top: 15vh;
    width: 100%;
    height: calc(100vh + ((80/100) * var(--ver-box-height)));
    background: linear-gradient(180deg, #BFBEC6 0%, #CCCBD1 13.54%, #D6D5DB 24.48%, #D4D3D9 52.6%, #D2D0D7 64.58%, #CECBD2 86.46%);
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-img img {
    height: 100%;
}

.hero-text {
    position: relative;
    width: 100%;
    z-index: 2;
}

.hero-gap {
    width: 100%;
    height: 15vh;
}

.hero-name {
    text-align: end;
}

.bonus {
    position: absolute;
    bottom: 0;
    transform: translateY(20%);
    left: calc(var(--page-padding) / 2);
    width: calc(100% - (var(--page-padding) * 2));
    height: var(--ver-box-height);
    z-index: 2;
}

.bonus-box {
    border: 4px solid var(--red);
    max-width: calc(var(--ver-box-height) + 150px);
    height: 100%;
    background-color: var(--red);
}

.newest {
    position: relative;
    width: 100%;
    height: 80vh;
    background: url(/images/newest-bg.jpg) center center no-repeat;
    background-size: cover;
    background-color: var(--color-dark);
    border-top: 4px solid var(--red);
    border-bottom: 4px solid var(--red);
}

.newest-nav {
    position: absolute;
    width: 100%;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
}

.newest-nav-before,
.newest-nav-after {
    height: var(--new-span-height);
}

.newest-nav hr {
    width: 100px;
    height: 0;
    border: 2px solid var(--color-light);
}

.newest-nav-box {
    display: inline-block;
    margin: 0 1vw;
    height: var(--new-span-height);
    overflow: hidden;
}

.newest-nav-box span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--new-span-height) - 10px);
    height: var(--new-span-height);
    font-size: 20px;
    color: var(--color-light);
}

.newest-nav-box.active span {
    color: var(--red);
}

.newest-img .img-here {
    background-color: transparent;
}

.newest-img .overlay {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
}

.newest-img-box img {
    position: absolute;
    top: 0;
    left: 0;
}

.newest-images {
    height: 0;
}

.newest-images img {
    width: 0;
    height: 0;
}


.sales-section {
    width: 100%;
}

.sales-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sales-box {
    display: flex;
    justify-content: space-between;
    gap: var(--small-gap);
    margin-top: calc(var(--page-y-padding) / 2);
    width: 100%;
}

.sales-cont {
    width: calc(var(--box-height) - 60px);
}

.sales-img {
    width: 100%;
    height: var(--box-height);
    background-color: var(--color-dark);
}


.collections {
    background-color: var(--red);
}

.collections h6 {
    font-size: 20px;
    font-weight: 500;
}

.collections h5 {
    font-size: 18px;
    font-weight: 500;
}

.collections.light h5 {
    color: var(--text-bright);
}

.collections a {
    text-decoration: underline;
}

.collections-section {
    display: flex;
    justify-content: space-between;
    gap: var(--big-gap);
    width: 100%;
}

.collections-section.hor .collections-box {
    height: var(--hor-box-height);
}

.collections-section.ver {
    height: var(--ver-box-height);
}

.collections-text {
    width: 20em;
}

.collections-section.hor .collections-img {
    max-width: 100%;
    width: calc(var(--hor-box-height) + 100px);
    height: 100%;
}

.collections-section.ver .collections-img {
    width: calc(var(--ver-box-height) - 70px);
    height: 100%;
}

.collections-img-text {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    font-weight: 500;
    display: none;
}

.collections-img-overlay {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    display: none;
}


.collections-box {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
}

.collections-box h6 {
    max-width: 15em;
}


.newsletter {
    position: relative;
    display: flex;
    justify-content: center;
}

.newsletter-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.newsletter-text {
    max-width: 300px;
}

.newsletter-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--big-gap);
    width: 90%;
}

.newsletter-box h5 {
    font-size: 2em;
    font-weight: 600;
}

.newsletter-box h6 {
    font-size: .9em;
    font-weight: 400;
}

.newsletter-form input {
    margin: 15px 0;
    display: block;
}

.newsletter-form input:nth-child(2) {
    margin-bottom: 0;
}

.newsletter-form .row {
    align-items: center;
}

@media (max-width: 1100px) {
    .newest {
        height: 70vh;
    }

    .collections h6 {
        font-size: 1em;
    }

    .collections h5 {
        font-size: 16px;
    }

    .collections-section {
        margin: 30px 0;
    }

    .newest-nav-box span {
        font-size: 16px;
    }

    .newsletter-box {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .hero-text {
        transform: translateY(5vh);
    }

    .hero-gap {
        height: 20vh;
    }
    
    .newest {
        height: 60vh;
    }

    .newest-nav {
        gap: calc(var(--small-gap) / 2);
    }

    .newest-nav-box span {
        font-size: .8em;
    }

    .newest-nav-box {
        margin: 0 2px;
    }

    .sales-box {
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: var(--big-gap);
    }

    .collections-section {
        gap: calc(var(--big-gap) + 30px);
        margin: calc(var(--big-gap) + 30px) 0;
    }

    .collections-section.hor {
        flex-wrap: wrap;
        height: auto;
    }

    .flex-start {
        width: 100%;
        justify-content: flex-start;
    }

    .flex-end {
        width: 100%;
        justify-content: flex-end;
    }

    .newsletter-box {
        flex-wrap: wrap;
    }

    .newsletter-text,
    .newsletter-form {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .collections-box-text {
        display: none;
    }

    .collections-img-overlay,
    .collections-img-text {
        display: block;
    }
}